body{
    background-color: darkslategray;
}

h1,p{
    text-align: center;
}
h1{
    color: red;
}
strong{
    color: rgba(94, 255, 0, 0.863);
}
form{
    margin: 0 auto;
    width: 400px;
    padding: 1em; 
    border: 1px solid #ccc;
}
form,div+div{
    margin: top 1em;

}
label{
    display:inline-block;
    width: 90px;
    text-align: right;
}
input,textarea{
   font: 1em sans-serif;
   width: 300px;
 
   text-align: right;

}